.container {
	border: 3px solid #ff0000;
	width: 100%;
	overflow: hidden;
}

.left {
	width: 33%;
	height: 300px;
	float: left;
    background-color: rgb(147, 218, 218);
}

.center {
	width: 33%;
	float: left;
    background-color: rgb(231, 149, 226);

}

.right {
	width: 33%;
	float: right;
    background-color: rgb(211, 240, 183);
}

.highlight{
	background-color: deeppink;
}

.inlineBlock{
	display: inline-block;
}

img{
	height: 100px;
	float:left;
}
